html,body{
  background-image:url('../src/assets/aiimage4.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  background-attachment:fixed;
  background-position: center;
  overflow: hidden;
}
